{% extends "base.html" %}

{% block title %}Préstamos Individuales{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Préstamos Individuales del Grupo {{ prestamo_grupal.grupo.nombre }}</h2>
    
    {% if prestamos_individuales %}
        <div class="table-responsive">
            <table class="table table-dark table-hover table-bordered">
                <thead class="table-primary text-dark">
                    <tr>
                        <th>Cliente</th>
                        <th>Monto</th>
                        <th>Fecha de Desembolso</th>
                        <th>Estado</th>
                        <th>Contrato</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prestamo in prestamos_individuales %}
                        <tr>
                            <td>{{ prestamo.cliente.nombre }} {{ prestamo.cliente.apellido }}</td>
                            <td>S/ {{ prestamo.monto }}</td>
                            <td>{{ prestamo.fecha_desembolso }}</td>
                            <td>{{ prestamo.estado }}</td>
                            <td>
                                {% if prestamo.cliente.contratos %}
                                    <a href="{{ url_for('prestamos_grupales.descargar_contrato', contrato_id=prestamo.cliente.contratos[0].id) }}" class="btn btn-success">Descargar Contrato</a>
                                {% else %}
                                    <span class="text-muted">Contrato no disponible</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">No hay préstamos individuales para este grupo.</p>
    {% endif %}
</div>
{% endblock %}
