{% extends "base.html" %}

{% block title %}Lista de Grupos{% endblock %}

{% block content %}
    <h2>Lista de Grupos</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td>{{ grupo.nombre }}</td>
                    <td>
                        <a href="{{ url_for('grupos.asignar_clientes', grupo_id=grupo.id) }}">Asignar Clientes</a>
                        <a href="{{ url_for('prestamos_grupales.lista_prestamos_grupales') }}">Ver Prestamos</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
